absl-py==1.3.0
astunparse==1.6.3
box2d-py==2.3.8
cachetools==5.2.0
# certifi @ file:///croot/certifi_1665076670883/work/certifi
charset-normalizer==2.1.1
chex==0.1.5
cloudpickle==2.2.0
commonmark==0.9.1
contourpy==1.0.6
cycler==0.11.0
dataclasses==0.6
decorator==5.1.1
distrax==0.1.2
# dm-acme @ git+https://github.com/deepmind/acme.git@5e1d072fc5ec282364652b3227749db0c19e0bf5
dm-env==1.5
dm-haiku==0.0.8
dm-launchpad-nightly==0.5.2.dev20221102
dm-reverb-nightly==0.9.0.dev20221103
dm-sonnet==2.0.0
dm-tree==0.1.7
etils==0.9.0
flatbuffers==22.10.26
flax==0.6.1
fonttools==4.38.0
gast==0.4.0
google-auth==2.14.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.50.0
gym==0.23.0
gym-notices==0.0.8
h5py==3.7.0
-e git+ssh://git@github.com/instadeepai/Mava.git@034101a16d3304cc1d358118e73bc2ba586861ff#egg=id_mava
idna==3.4
importlib-metadata==4.13.0
importlib-resources==5.10.0
jax==0.3.23
jaxlib==0.3.22
jmp==0.0.2
keras-nightly==2.12.0.dev2022110307
# Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
libclang==14.0.6
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.2
mock==4.0.3
msgpack==1.0.4
networkx==2.8.8
numpy
# numpy==1.23.4
oauthlib==3.2.2
opt-einsum==3.3.0
optax==0.1.3
packaging==21.3
Pillow==9.3.0
portpicker==1.5.2
protobuf==3.19.6
psutil==5.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.13.0
pyparsing==3.0.9
python-dateutil==2.8.2
PyYAML==6.0
requests==2.28.1
requests-oauthlib==1.3.1
rich==12.6.0
rlax==0.1.4
rsa==4.9
scipy==1.9.3
six==1.16.0
tabulate==0.9.0
tb-nightly==2.11.0a20221102
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-io-gcs-filesystem==0.27.0
termcolor==2.1.0
tf-estimator-nightly==2.12.0.dev2022110208
tf-nightly==2.12.0.dev20221103
tfp-nightly==0.19.0.dev20221103
toolz==0.12.0
trfl==1.2.0
typing_extensions==4.4.0
urllib3==1.26.12
Werkzeug==2.2.2
wrapt==1.14.1
zipp==3.10.0
